//Background Colors
$toolbox-background-color: #2C3E50;
$title-background-color: #4f657b;

//Text Color
$title-color: #9cb3ca;
$text-color: #5e768e;
$main-color: #4f657b;

//Other Color
$border-color: #1a2733;
$page-nav-color: #97aabc;
#gui-builder{
	.gui-toolbox{

		position: absolute;
		width: 240px;
		background: $toolbox-background-color;
		bottom: 0;
		top: 44px;
		left: 0;

		h3{
			background: $title-background-color;
			margin: 0;
			height: 30px;
			border-top: 2px solid $border-color;
			border-bottom: 2px solid $border-color;
			width: 100%;
			color: $title-color;
			line-height: 30px;
			text-align: center;
			font-size: 15px;

		}
		#templates{

			.page{
				margin-top: 25px;
				li{
					height: 30px;
					width: 140px;
					margin: 0 auto 10px auto;
					display: block;
					background: #4f657b;
					padding: 0 10px 0 20px;
					line-height: 30px;
					font-weight: bold;
					color : white;
					font-size: 14px;
					border-radius: 4px;
					//box-shadow: 0px 1px 1px #186ea2;
					overflow: auto;		//Maintain float

					&.confirmDelete{
						background: #d86a65;

						& button.edit{
							display: none;
						}
					}

					&.current{
						
						background: #518dca;

						&.confirmDelete{
						background: #d86a65;

						& button.edit{
							display: none;
						}
						
					}

					}

					&.addPageForm{
						border: 2px solid #4f657b;
						background:none;
						margin-bottom: 20px;

						input{
							height: 27px;
							width: 120px;
							float:left;
							display:inline;
							border:0;
							background: none;
							
							@include placeholder {
							    color: #4f657b;
							}

							&:focus{
								outline: 0;
							}

						}

						& .buttonWrapper{
							display: block;
						}
					}

					&:hover .buttonWrapper{
						display: block;
					}
				}
				.buttonWrapper{
					float:right;
					display: none;

					button{
						height: 15px;
						width: 15px;
						border: 0;
						background:url("../Assets/Sprites/Add-Delete-Edit-Icons.png");

						&:focus{
							outline: 0;
						}
						&.edit{
							background-position:-34px -11px;
							&:hover{
								background-position:-34px -30px;
							}
						}
						
						&.delete{
							background-position:-52px -11px;
							&:hover{
								background-position:-52px -30px;
							}
						}

						&.add{
							background-position:-13px -12px;

							 &:hover{
								background-position:-13px -31px;
							}
						}


					}

				}
			}
		}
		#elements{
			overflow: auto;

			li{
				float: left;
				height: 120px;
				width: 118px;
				border:1px solid #21313f;
				cursor: move;

				&:hover{
					background: #394e62;
				}
			}

			.elements-title{
				text-align: center;
				color: $text-color;
				font-size: 16px;
				font-weight: bold;

			}

			.elements-image{
				margin: 20px auto 7px auto;
				height: 55px;
				width: 55px;
				background:url("../Assets/Sprites/Element-Icons.png");

				&#title-icon{
					background-position: -7px -7px;
				}

				&#text-icon{
					background-position: -62px -7px;
				}

				&#image-icon{
					background-position: -116px -7px;
				}

				&#nav-icon{
					background-position: -170px -7px;
				}
				
			}

		}

		#settings{

			.site-grid-container{
				overflow: auto;
				padding: 10px 30px;
				border-bottom: 2px solid $border-color;
				span{
					line-height: 29px;
					color: $text-color;
					font-size: 16px;
					font-weight: bold;
				}
				input{
					display: none;
				}

				label{
					width: 60px;
					height: 29px;
					background: url("../Assets/Sprites/Toggle-Switch.png");
					float: right;
					background-position: 0px -3px;
					cursor:pointer;
					//@include transition(all, 0.2s, ease-in-out);
				}
				input[type="checkbox"]:checked + label{
					//@include transition(all, 0.2s, ease-in-out);
				 	background-position: 0px -53px;	
				}
			}
		}

	}


	//Main Editor
	main{
		position: absolute;
		top: 44px;
		left: 240px;
		bottom: 0;
		right: 0;
		z-index: 5;
		padding: 42px 72px;
		overflow: scroll;
		overflow-x: hidden;

		.page-nav{
			margin-bottom: 50px;

			li{
				height: 40px;
				width: 120px;
				border: 2px solid #8498ac;
				color: #8498ac;
				display: inline-block;
				vertical-align: top;
				border-radius: 4px;
				margin-right: 15px;
				line-height: 40px;
				text-align: center;
				cursor: pointer;

				&.current{
					background: #97aabc;
					color: white;

				} 
			}
		}

		.img-object{
			height: 280px;
			width: 100%;
			border: 2px solid #c0ccd8;
			cursor: pointer;
			border-radius: 4px; 
			margin-bottom: 60px;

			.img-placeholder{
				img{
					display: block;
					margin: 50px auto 0 auto;
				}
				p{
					text-align: center;
					font-weight: bold;
					color: #c0ccd8;
					margin: 0;
				}

			}
		}

		.title-object{
			margin-bottom: 44px;

			h2{
				color: $main-color;
			}
		}

		.text-object{
			margin-bottom: 15px;

			p{
				color: $main-color;
				line-height: 35px;

			}
		}


	}
}


//Reset
html{
	height: 100%;
	body{
		height: 100%;
	}
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

