@font-face { font-family: ProximaNova; src: url('../Assets/Font/ProximaNova-Reg.otf'); } 
@font-face { font-family: ProximaNova; font-style: italic; src: url('../Assets/Font/ProximaNova-RegIt.otf'); } 
@font-face { font-family: ProximaNova; font-weight: lighter; src: url('../Assets/Font/ProximaNova-Light.otf'); } 
@font-face { font-family: ProximaNova; font-weight: lighter; font-style: italic; src: url('../Assets/Font/ProximaNova-LightIt.otf'); } 
@font-face { font-family: ProximaNova; font-weight: bold; src: url('../Assets/Font/ProximaNova-Sbold.otf'); }
html body{
	font-family: ProximaNova, Arial, sans-serif;
}